body {
  margin: 0px;
  padding: 0px;
  background-color: #dcd0ad;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: #eee9e26f;
  box-shadow: 2px 3px 5px #5f3911;
  padding: 0px 3%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 35px;
  font-family: "Cambay";
  color: #785631;
  font-size: 15px;
  font-weight: bolder;
}

nav ul li a:hover {
  background-color: #422c15;
  color: #dcd0ad;
  border-radius: 5px;
  border-width: 5px;
}

.logo {
  font-family: "Cambay";
  color: #785631;
  font-size: 20px;
  font-weight: bolder;
}

#home {
  width: 100%;
  height: 95vh;
  position: relative;
}

.Home p {
  line-height: 7px;
  margin: 37px 0px 25px;
  padding-left: 31px;
}

.Home p:nth-child(1) {
  font-family: "Cambay";
  font-weight: bold;
  color: #736441;
  font-size: 27px;
  margin-left: 69px;
  margin-top: 50px;
}

.Home p:nth-child(2) {
  font-family: "Cambay";
  font-weight: bold;
  color: #453a21;
  letter-spacing: none;
  font-size: 37px;
  margin-left: -80px;
}

.Home p:nth-child(3) {
  font-family: "Cambay";
  font-weight: bold;
  color: #736441;
  font-size: 25px;
  margin-left: -31px;
  margin-bottom: 57px;
}

.Home p:nth-child(4) {
  font-family: "Cambay";
  font-weight: bold;
  color: #736441;
  font-size: 16px;
  margin-left: -85px;
}

.Home p:nth-child(5) {
  font-family: "Cambay";
  font-weight: bold;
  color: #736441;
  font-size: 16px;
  margin-top: 24px;
  margin-left: -85px;
}

.Home p:nth-child(6) {
  font-family: "Cambay";
  font-weight: bold;
  color: #736441;
  font-size: 16px;
  margin-top: 24px;
  margin-left: -85px;
}

.Home {
  position: absolute;
  left: 10%;
  right: 10%;
  transform: translate(13%, 35%);
}

.gambar {
  width: 710px;
  height: auto;
  position: absolute;
  left: 80%;
  top: -3%;
  transform: translateX(-70%);
}

.about {
  height: 110vh;
  background-color: #d0ba785c;
  padding: 2% 10% 10%;
  margin-top: -5px;
}

.about-desc p:nth-child(1) {
  font-family: "Cambay";
  font-weight: bold;
  color: #3e381d;
  font-size: 30px;
  line-height: 0px;
  text-align: justify;
  margin-top: 50px;
}

.about-desc p:nth-child(2) {
  font-family: "Cambay";
  color: #736441;
  text-align: justify;
  font-weight: bold;
  padding-bottom: 35px;
}

.row {
  margin: -20px;
  padding: 20px;
  display: flex;
  color: #45391e;
}

.row .column h2 {
  text-align: start;
  font-family: "Cambay";
  font-weight: bolder;
  margin-bottom: -23px;
  font-size: 25px;
}

.row .column h4 {
  text-align: start;
  font-family: "Cambay";
  font-weight: bold;
  margin-bottom: -30px;
  font-size: 16px;
}

.row .column p {
  text-align: justify;
  font-family: "Cambay";
  font-weight: bold;
  font-size: 16px;
  margin-bottom: -30px;
}

.column {
  flex: 50%;
  padding: 30px;
  height: 200px;
  outline: #443b1b solid 1px;
  border-radius: 20px;
  margin: 9px;
  justify-content: center;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.2);
}

.column2:nth-child(3) {
  text-align: center;
  font-family: "Cambay";
  font-weight: bold;
  padding-top: 10px;
  flex: 50%;
  padding: 30px;
  color: #45391e;
  height: 195px;
  outline: #443b1b solid 1px;
  border-radius: 20px;
  margin: 13px 9px;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.2);
}

.column2 h2 {
  margin-bottom: -23px;
  font-size: 25px;
}

.column2 h4 {
  margin-top: 25px;
  margin-bottom: -27px;
  font-size: 16px;
}

.column2 p {
  margin-top: 17px;
  font-size: 17px;
  text-align: center;
}

/* skill */
.skill {
  height: 80vh;
  background-color: #dcd0ad;
  padding: 2% 10% 10%;
}

.skill-desc {
  margin: 50px 50px;
}

.skill-desc p:nth-child(1) {
  font-family: "Cambay";
  font-weight: bold;
  color: #3e381d;
  font-size: 32px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.skill-desc p:nth-child(2) {
  font-family: "Cambay";
  color: #736441;
  text-align: center;
  font-weight: bold;
}

.box-container {
  display: flex;
  text-align: justify;
  justify-content: space-around;
}

.box-1,
.box-2,
.box-3 {
  width: 350px;
  height: 350px;
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  outline: #5f5236 solid 3px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 8px;
  font-family: "Cambay";
  font-weight: bolder;
}

.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 24px;
  background-color: #45391e;
  color: #dcd0ad;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Cambay";
  font-weight: bold;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 P:nth-child(3) {
  font-family: "Cambay";
  font-weight: bold;
  color: #5f5236;
  width: 250px;
  margin: 0px 0px 5px 0px;
}

/* contact */
.contact {
  height: 70vh;
  background-color: #d8c89a;
  padding: 2% 10% 10%;
}

.contact-desc {
  margin: 50px 50px;
}

.contact-desc p:nth-child(1) {
  font-family: "Cambay";
  font-weight: bolder;
  color: #422c15;
  font-size: 32px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.contact-desc p:nth-child(2) {
  font-family: "Cambay";
  color: #736441;
  text-align: center;
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: #e1d7b7;
  border: 2px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 17px;
  resize: vertical;
  box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #ebe1c4;
  color: #736441;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  outline: #5f5236 solid 2px;
  cursor: pointer;
  font-family: "Cambay";
  font-weight: bolder;
  font-size: 13px;
  margin-top: 15px;
  box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: #5f3911;
  color: #efeee4;
}
input:active {
  transform: scale(1.1);
}

label {
  font-family: "Cambay";
  font-weight: bold;
  color: #422c15;
  font-size: 17px;
}

input::placeholder {
  font-family: "Cambay";
  font-weight: bold;
  color: #38301a95;
}

/* footer */

footer {
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #785631;
}

footer p {
  font-family: "Cambay";
}

footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #ebe1c4;
  line-height: 0px;
  padding-top: 30px;
}

footer p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #ebe1c4;
  line-height: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.social-icons {
  margin: 30px 0px;
  display: flex;
  text-align: center;
  padding-bottom: 5px;
}

.social-icons a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #ebe1c4;
  border-radius: 18px;
}

.social-icons i {
  font-size: 28px;
  color: #785631;
}

.social-icons a:hover {
  background-color: #ebe1c4;
  box-shadow: 6px 6px 1px #422c15;
}
